body, .content {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
}

body, html {
    margin:0!important;
    padding:0!important;
    box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.form-control {
    background-color: unset;
    color: white;
    transition: ease all 0.3s;
}

    .form-control:focus {
        background-color: unset;
        color: white;
    }

.input-btn {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.input-with-btn {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}